.card {
    width: 250px;
    padding-top: 10px;
    margin-right:5px;
    margin-left: 30px;
    margin-bottom:15px;
    height: 350px;
    color: white;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/38/11/41584be550de96d.jpg?fbclid=IwAR0fMdUaOdKISz-YJ2ljV1JH4QXCq1q6ahmk9QzYWUFPRg_U03-LDD10MCs");
    border-radius: 5%;
    box-shadow: 1px 3px 1px 3px black;
    opacity: 0.95;
    cursor: pointer;
    text-align: center;
    /* padding: 5%; */
}

.defence {
    float: right;
}

.cards {
    padding-left: 50px;
}

body {
    background-image:url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3286430.jpg");
    background-attachment: fixed;
}

h1 {
    font-size: 64px;
    margin-top: 64px;
    text-align:center;
    color: white;
}

h2 {
    font-size: 32px;
    text-align: center;
    color:white;
}

#announce {
    text-align:center;
    color: white;
}

.gameLobby #StartGame {
    background-color: #FFFFFF;
    color: green;
    border-radius: 10px/;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 47%;
    display: none;
}

.row {
    height: 80px;
}

.clicked {
    box-shadow: 0px 0px 18px greenyellow;
    opacity: 0.7;
    cursor: pointer;
}

#select {
    text-align:center;
    color: white;
}

.gameLobby #madeBy {
    font-size: 24px;
    position: absolute;
    color: white;
    right: 15px;
    bottom: 5px;
}

#sumbitCards {
    background-color: #FFFFFF;
    color: green;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    position: relative;
    font-size: 16px;
    margin-left: 47%;
    margin-bottom: 10px;
}
